.player {
  display: flex;
  justify-content: center;
  align-items: center;
  height: inherit;
  flex-direction: column;
  .picture {
    width: 300px;
    height: auto;
    border-radius: 20px;
    margin-bottom: 20px;
  }
  .progressBar {
    display: flex;
    width: 80%;
    input {
      flex-grow: 1;
    }
  }
  .actionBar {
    display: flex;
    width: 80%;
    justify-content: space-around;
    margin-top: 50px;
    .playBtn {
      font-size: 30px;
      cursor: pointer;
    }
    .stopBtn {
      font-size: 30px;
      cursor: pointer;
    }
    .nextBtn {
      font-size: 30px;
      cursor: pointer;
    }
    .backBtn {
      font-size: 30px;
      cursor: pointer;
    }
  }
}